#Trung
Flask>=3.0,<4.0
gunicorn>=21.2,<23

Flask-SQLAlchemy>=3.1,<4
SQLAlchemy>=2.0,<3
greenlet>=3.0,<4

Flask-WTF>=1.2,<2
WTForms>=3.1,<4

Flask-Mail>=0.10,<1
email-validator>=2.0,<3

requests>=2.31,<3
anyio>=4.0,<5

# PostgreSQL driver for Render deployment
psycopg2-binary>=2.9,<3

# Only keep this IF your code imports apsw
apsw>=3.50.0